<?xml version='1.0' encoding='utf-8'?>
<widget id="com.yourname.expiryfetcher" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Expiry Fetcher</name>
    <description>Fetches commodity option expiry dates</description>
    <author email="you@email.com" href="http://yourwebsite.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="https://www.mcxindia.com/*" />


    
    <preference name="AndroidInsecureFileModeEnabled" value="true" />
    <allow-navigation href="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="http://*/*" />
    <access origin="*" />
    <preference name="AndroidInsecureFileModeEnabled" value="true" />

    <access origin="https://www.nseindia.com/*" />
<allow-intent href="https://www.nseindia.com/*" />

    <platform name="android">
        <icon src="www/img/logo.avif" /> <!-- Sets your logo as the app icon -->
    </platform>

</widget>